body{
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1{
    color: aqua;
    font-size: 30px;
    /* border: 1px solid aqua; */
}
.fg{
    background-color: #fff;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
}
.quiz{
    border: 2px  rgb(196, 247, 242) double;
    border-color: aqua;
    margin: 40px 300px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}
.instructions{
border:  solid rgb(196, 247, 242) ;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;

}
#html{
    margin-top: 20px;
}
#html , #css ,#php{
    background-color: rgb(196, 247, 242);
    padding: 5px ;
   padding-right:720px ;
   margin-left: 20px;
   margin-right: 100px;
   border-color: rgb(2, 2, 54);
}
#valider{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:400px;
    padding: 3px 30px;
    background-color:aqua ;
    border-radius: 3px;
}
#QuestHTML , #QuestCSS , #QuestPHP{
    display: none;
    padding-left: 20px;
}
.Ques1 ,.Ques2,.Ques3,.Ques4,.Ques5,.Ques6,.Ques7,.Ques8,.Ques9,.Ques10{
    background-color: rgb(221, 252, 254);
    border: 1px solid rgb(194, 243, 243);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 20px;
    padding: 20px;
}
h5{
    font-weight: 800;
}